.full-height-flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-item {
    margin: 1rem;
    cursor: pointer
}

.dashboard-container {
    flex-direction: column;
}

#form-area {
    display: flex;
    justify-content: center;
}

.action-card {
    margin: 1rem;
}